# General ignores
.kobweb/*
!.kobweb/conf.yaml
!.kobweb/site
# Project exclude paths
/.gradle/
/build/
/site/build/
/site/build/classes/kotlin/js/main/
/worker/build/
/worker/build/classes/kotlin/js/main/